
.wrapper-card-personel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60vh;
    margin-bottom: 60px;
}

@media (max-width : 1200px){
    .wrapper-card-personel{
        margin-bottom: 0;
    }
}

@media (max-width: 375px){
    .wrapper-card-personel{
        justify-content: center;
        overflow: scroll;
        margin-bottom: 30px;
    }
}