@import 'src/support/styles/typography';
@import 'src/support/styles/color';


p{
    margin: 0;
    padding: 0;
}
body{
    font-family: $open-sans;
}


.container-card{
    border-radius: 10px;
    flex: 0.24;
    transition: 0.3s;
    box-sizing: border-box;
    transform: scale(1);
    &:hover{
        transform: scale(1.03);
    }
    .wrapper-header-card{
        padding: 10px 15px;
        border-bottom: rgba(150,150,150,0.4) 0.01em solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            color: $secondary-color;
            font-size: 14px;
            span{
                color: $primary-color;
            }
        }
        .icon-header{
            color: $secondary-color;
        }
    }

    .wrapper-middle-card{
        padding: 20px 10px;

        .wrapper-foto{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .foto-user{
            box-shadow: 0px 0px 4px 1px rgba(112,112,112,0.62);
            object-fit: cover;
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
        .wrapper-info-mobile{
            display: none;
        }
    }

    .wrapper-bottom-card{
        padding: 7px 15px;
        display: block;
        .wrapper-info{
            margin: 10px 0;
            .title{
                font-size: 14px;
                font-weight: 600;
                color: $secondary-color;
            }
            .isi{
                font-size: 15px;
                font-weight: 300;
                color: $secondary-color;
            }
        }
    }
}

.card-border{
    box-shadow: 0px 0.5px 2px 0.5px rgba(112,112,112,0.3);
    transition: 0.3s;
    &:hover{
        box-shadow: 0px 1px 2px 0.5px rgba(112,112,112,0.5);
    }
}
@media (min-width:992px) and (max-width: 1366px){
    .container-card{
        // max-width: 240px;
        // max-height: 410px;
        .wrapper-header-card{
            p{
                font-size: 10px;
            }
        }
        .wrapper-middle-card{
            padding: 20px 10px;
    
            .foto-user{
                box-shadow: 0px 0px 4px 1px rgba(112,112,112,0.62);
                object-fit: cover;
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
            .wrapper-info-mobile{
                display: none;
            }
        }
        .wrapper-bottom-card{
            padding: 7px 15px;
            display: block;
            .wrapper-info{
                margin: 10px 0;
                .title{
                    font-size: 10px;
                }
                .isi{
                    font-size: 11px;
                }
            }
        }
    }
}


@media (min-width: 320px) and (max-width:414px){
    .container-card{
        flex: 1;
        max-width: 100%;
        margin-bottom: 15px;
        transform: translateY(0);
        &:hover{
            transform: translateY(3px);
        }
        .wrapper-header-card{
            p{
                font-size: 13px;
            }
        }

        .wrapper-middle-card{
            padding: 20px 10px;
            display: flex;
            .wrapper-info-mobile{
                flex: 1;
                margin-left: 15px;
                display: block;
                .wrapper-info{
                    margin-bottom: 8px;
                    .title{
                        font-size: 14px;
                        font-weight: 600;
                        color: $secondary-color;
                        margin-bottom: 2px;
                    }
                    .isi{
                        font-size: 15px;
                        font-weight: 300;
                        color: $secondary-color;
                    }
                }
            }
            .foto-user{
                height: 100px;
                width: 100px;
            }
        }
        .wrapper-bottom-card{
            display: none;
        }
    }

    .card-border{
        box-shadow: 0px 0.2px 0.5px 0.2px rgba(112,112,112,0.3);
        transition: 0.3s;
        &:hover{
            box-shadow: 0px 0px 0px 0px rgba(112,112,112,0.5);
        }
    }
}
